<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="AllTestCases">
    <classes>
      <class name="test.TestLoginPage"/>
      <class name="test.TestIAgree"/>
      <class name="test.TestDemographics"/>
      <class name="test.TestPINPage"/>
      <class name="test.TestPInPageSSN"/>
      <class name="test.TestPINMonthTest"/>
      <class name="test.TestLastName"/>
    </classes>
  </test> <!-- AllTestCases -->
</suite> <!-- Suite -->
